---
layout: default
title: Home
---
<header class="header">
        <div class="container">                       
            <img class="profile-image img-responsive pull-left" src="assets/images/profile.png" alt="James Lee" />
            <div class="profile-content pull-left">
                <h1 class="name">Roberto Trifiletti</h1>
                <h2 class="desc">Cryptographer and Software Engineer</h2>   
                <ul class="social list-inline">
                    <li><a href="https://www.facebook.com/r.trifiletti" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/robtrifiletti" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://github.com/robtrifiletti" target="_blank"><i class="fa fa-github"></i></a></li>                  
                    <li class="last-item"><a href="mailto:robtrifiletti@gmail.com"><i class="fa fa-send"></i></a></li>                 
                </ul> 
            </div>
            <a class="btn btn-cta-primary btn-download pull-right" href="assets/pdfs/cv.pdf" target="_blank"><i class="fa fa-download"></i> Download CV (PDF)</a>
        </div>
    </header>

<div id="container" style="padding: 5px">
   <p><a class="GS" href="https://scholar.google.com/citations?user=6gVDkOUAAAAJ&hl=en"> <img src="public/GS.png" width="5%" height="5%" > </a> </p>
   <p><a class="GH" href="https://github.com/Mahdi171"> <img src="public/GH.png" width="5%" height="5%" > </a> </p> 
   <p><a class="GM" href="mailto:s.m.sedaghat@gmail.com"> <img src="public/GM.png" width="5%" height="5%" > </a> </p> 
   <p><a class="GM" href="public/CV (1).pdf"> <img src="public/CV.png" width="5%" height="5%"  </a> </p> 
</div>

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

